[submodule "csm/CSM-ModSets-SplashWindow"]
	path = csm/CSM-ModSets-SplashWindow
	url = https://github.com/NEVSTOP-LAB/CSM-ModSets-SplashWindow
	branch = main
[submodule "csm/CSM-ModSets-TagDB-UI"]
	path = csm/CSM-ModSets-TagDB-UI
	url = https://github.com/NEVSTOP-LAB/CSM-ModSets-TagDB-UI
	branch = main
[submodule "csm/CSM-ModSets-TagRouter"]
	path = csm/CSM-ModSets-TagRouter
	url = https://github.com/NEVSTOP-LAB/CSM-ModSets-TagRouter
	branch = main
[submodule "csm/CSM-Utils"]
	path = csm/CSM-Utils
	url = https://github.com/nevstop/CSM-Utils
	branch = main
[submodule "csm/CSM-Modsets-WaveformDisplay"]
	path = csm/CSM-Modsets-WaveformDisplay
	url = https://github.com/NEVSTOP-LAB/CSM-Modsets-WaveformDisplay
	branch = main
[submodule "csm/CSM-Modsets-SimWaveform"]
	path = csm/CSM-Modsets-SimWaveform
	url = https://github.com/nevstop/CSM-Modsets-SimWaveform
	branch = main
